extends ../layout/index
block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes 
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= title

        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px4.shadow.p-5.rounded-lg
                form.space-y-1
                    div
                        label.block.text-sm.uppercase.text-gray-500.p-2.font-bold(for="nombre") Nombre
                            input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre completo" type="text" name="nombre")
                        
                    div
                        label.block.text-sm.uppercase.text-gray-500.p-2.font-bold(for="email") E-mail
                            input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Correo electronico" type="email" name="email")

                    div
                        label.block.text-sm.uppercase.text-gray-500.p-2.font-bold(for="password") Password
                            input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Contraseña" type="password" name="pass")

                    div
                        label.block.text-sm.uppercase.text-gray-500.p-2.font-bold(for="repite_pass") Confirma Password
                            input#repite_pass.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Contraseña" type="password" name="repite_pass")

                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión 
                        a.text-gray-500.text-xs(href="/auth/recover") Olivde mi pass

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear cuenta")